/* components/layout/Header/Header.module.css */

/* FULL SCREEN SWIPE LAYER */
.swipeLayer {
  position: fixed;
  z-index: 100; /* BELOW overlay, BELOW panels */
  inset: 0;
  width: 10%;
  height: 100%;
  touch-action: pan-y;
  pointer-events: auto;
}

/* Overlay container */
.overlay {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1500;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}
