/* components/layout/Header/parts/HeaderBar.module.css */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  z-index: 2000;
  border-radius: 0 0 1rem 1rem;
  font-size: 0.875rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.hamburger,
.smallIcon {
  display: none;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.textTitle {
  display: none;
  margin: 0;
}

@media (min-width: 1024px) {
  .hamburger {
    display: block;
  }
  .textTitle {
    display: block;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .hamburger {
    display: block;
  }
  .smallIcon {
    display: block;
  }
}

@media (max-width: 639px) {
  .smallIcon {
    display: block;
  }
}

.loginButton {
  background: #00aced;
  border: none;
  padding: 0.4rem 0.7rem;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
