.leftPanel {
  position: relative;
  z-index: 2001;
  clip-path: inset(0 100% 0 0);
  background: #222;
  padding: 1rem;
  padding-top: 120px;
  padding-left: 3rem;
  width: 150px;
  height: 100vh;
  color: #fff;
  text-align: left;
}

@keyframes curtainReveal {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes curtainClose {
  0% {
    clip-path: inset(0 0 0 0);
  }

  100% {
    clip-path: inset(0 100% 0 0);
  }
}

.menuList {
  padding: 0;
  padding-top: 60px;
  list-style: none;
  text-align: center;
}

.leftPanel.open {
  animation: curtainReveal 0.45s ease forwards;
}

.leftPanel.close {
  animation: curtainClose 0.45s ease forwards;
}
