.rightPanel {
  position: relative;
  flex: 1;
  background: #051C2C;
  padding: 1rem;
  padding-left: 80px;
  padding-top: 120px;
  opacity: 0;
  animation: fadeInRight 0.3s ease forwards;
  border-radius: 1rem 1rem 1rem 1rem;
}

@media (max-width: 639px) {
  .rightPanel {
    display: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(8px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
