.rightPanel {
  position: relative;
  flex: 1;
  opacity: 0;
  animation: fadeInRight 0.3s ease forwards;
  background: #051c2c;
  padding: 1rem;
  padding-top: 120px;
  padding-left: 80px;
  max-height: 20vw;
}

@media (max-width: 639px) {
  .rightPanel {
    display: none;
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(8px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.heading {
  margin-bottom: 1rem;
  color: #4fc3f7;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
}

.text {
  opacity: 0.9;
  max-width: 420px;
  font-size: 1rem;
  line-height: 1.6;
}
