.rightPanel {
  position: relative;
  flex: 1;
  opacity: 0;
  animation: fadeInRight 0.3s ease forwards;
  background: #051c2c;
  padding: 1rem;
  padding-top: 120px;
  padding-left: 80px;
}

@media (max-width: 639px) {
  .rightPanel {
    display: none;
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(8px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
