.storybook-menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 0;
  transition: width 0.2s ease-in-out;
}

@media (max-width: 1000px) {
  .storybook-menu div > :nth-child(2) {
    display: none;
  }
  .storybook-menu {
    width: fit-content !important;
  }
}

@media (max-width: 600px) {
  .storybook-menu {
    display: none; /* nem foglal helyet */
  }
}
